@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Roboto:wght@300;700&family=Ubuntu:wght@300&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  background: #abf5eb;
  overflow: hidden;
}

header {
  width: 100%;
  padding: 20px 100px;
  height: 105px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 500ms;
}

header .icon-container {
  width: 15vw;
}

header .icon-container a {
  display: flex;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #529696;
}

header .icon-container a img {
  width: 64px;
  height: 64px;
}

header .icon-container a .logo-content {
  margin: 5px;
  width: 105px;
}

header .icon-container a .logo-content span {
  text-transform: uppercase;
}

header .icon-container a .logo-content span:nth-child(1) {
  font-size: 21px;
  font-weight: 700;
}

header .icon-container a .logo-content span:nth-child(2) {
  font-size: 26px;
}

header .navigation {
  display: flex;
  flex-direction: row;
}

header .navigation li {
  list-style: none;
  margin-left: 20px;
}

header .navigation li a {
  text-decoration: none;
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  color: #529696;
  position: relative;
}

header .navigation li a::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 3px;
  top: 100%;
  right: 0;
  background: #ff6347;
  transition: transform 500ms;
  transform: scaleX(0);
  transform-origin: right;
}

header .navigation li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

main#index {
  position: relative;
  display: grid;
  height: calc(100vh - 105px);
  width: 100%;
}

main#index #bg {
  position: fixed;
  width: 1920px;
}

main#index #bg #sun {
  visibility: hidden;
}

main#index #bg #right_far_cloud {
  animation: cloud-anime-to-left 7s alternate-reverse infinite linear;
}

main#index #bg #right_far_cloud-2 {
  animation: cloud-anime 10s alternate-reverse infinite linear;
}

main#index .title {
  text-align: center;
  width: 60vw;
  color: #529696;
  margin: 30vh auto;
}

main#index .title h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 3em;
}

main#index .title p {
  font-size: 1.2em;
}

main#current {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main#current .search-section {
  width: clamp(380px, 420px, 480px);
  position: relative;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
}

main#current .search-section input {
  width: 75%;
  border: 0;
  height: 40px;
  padding-left: 10px;
  background: #abf5eb;
  border-bottom: #808080 solid 2px;
  outline: none;
  font-size: 16px;
  resize: none;
  transition: 500ms;
}

main#current .search-section input:focus + label,
main#current .search-section input:valid + label {
  font-size: 0.7em;
  font-weight: 700;
  color: #529696;
  top: -10px;
}

main#current .search-section input:focus,
main#current .search-section input:valid {
  border-bottom: 2px solid #529696;
}

main#current .search-section label {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  transition: 500ms;
  color: #808080;
}

main#current .search-section button {
  height: 40px;
  width: 24%;
  font-weight: 700;
  display: inline-block;
  text-transform: uppercase;
  background: #529696;
  color: #ffffff;
  letter-spacing: 2px;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

main#current #current-weather {
  position: relative;
  width: clamp(380px, 420px, 480px);
  background: #529696;
  color: #fff5ee;
  display: flex;
  place-items: center;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

main#current #current-weather .weather-content {
  padding: 30px;
  width: 100%;
  height: 100%;
}

main#current #current-weather .weather-content .celsius::after {
  content: "℃";
}

main#current #current-weather .weather-content .general-info {
  text-align: center;
  margin-bottom: 40px;
}

main#current #current-weather .weather-content .general-info .city {
  font-size: 1.6em;
}

main#current #current-weather .weather-content .general-info .city span {
  text-transform: uppercase;
}

main#current #current-weather .weather-content .general-info .date-time {
  font-size: 0.8em;
}

main#current #current-weather .weather-content .body-info {
  display: flex;
  position: relative;
  width: 100%;
  height: 48vh;
}

main#current #current-weather .weather-content .body-info .left-portion {
  position: absolute;
  width: 45%;
  left: 0;
}

main#current #current-weather .weather-content .body-info .left-portion .temperture {
  font-size: 8em;
  position: relative;
}

main#current #current-weather .weather-content .body-info .left-portion .temperture span {
  position: absolute;
  top: 10%;
  font-size: 0.6em;
}

main#current #current-weather .weather-content .body-info .left-portion .top-low-temp {
  font-size: 1.5em;
  margin-top: -10px;
  margin-bottom: 20px;
}

main#current #current-weather .weather-content .body-info .left-portion p {
  width: 100%;
  font-size: 2.5em;
}

main#current #current-weather .weather-content .body-info .right-portion {
  position: absolute;
  width: 45%;
  right: 0;
  bottom: 0;
}

main#current #current-weather .weather-content .body-info .right-portion img {
  width: 300px;
}

main#current #current-weather .weather-content .bottom-info {
  width: 100%;
}

main#current #current-weather .weather-content .bottom-info ul {
  display: flex;
  justify-content: space-between;
}

main#current #current-weather .weather-content .bottom-info ul li {
  list-style: none;
  height: 60px;
  text-align: center;
}

main#current #current-weather .weather-content .bottom-info ul li div {
  display: flex;
  height: 80%;
  flex-direction: column;
  justify-content: space-between;
}

main#forecast h1 {
  text-align: center;
}

main#forecast table {
  margin: 10px auto;
  text-align: center;
}

main#forecast table thead th {
  padding: 0 5px;
}

main#forecast table tr td:nth-child(1) {
  padding-right: 10px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

main#forecast table tr td img {
  width: 50px;
}

@keyframes cloud-anime {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100px);
  }
}

@keyframes cloud-anime-to-left {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0);
  }
}

@media (max-width: 900px) {
  header {
    padding: 10px 20px;
  }
  header .menuToggle {
    position: relative;
    width: 40px;
    height: 40px;
    color: #529696;
    text-align: center;
    cursor: pointer;
  }
  header .menuToggle::before {
    font-family: "FontAwesome";
    content: "";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 2em;
  }
  header .menuToggle.open::before {
    content: "";
  }
  header .navigation {
    display: none;
  }
  header .navigation.open {
    width: 100%;
    height: calc(100vh - 105px);
    position: fixed;
    top: 105px;
    left: 0;
    background: #ffffff;
    display: flex;
    place-items: center;
    flex-direction: column;
    z-index: 10;
  }
  header .navigation li {
    margin: 10px 0;
  }
  main#index .title h1 {
    font-size: 2em;
  }
  main#index .title p {
    font-size: 1em;
  }
  main#index #bg {
    width: 900px;
  }
}

@media (max-width: 1440px) {
  main#index #bg {
    width: 1440px;
  }
}
/*# sourceMappingURL=style.css.map */