@import './styleSettings';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $ubuntu;
}

body {
    background: $mainBgColor;
    overflow: hidden;
}

header {
    width: 100%;
    padding: 20px 100px;
    height: 105px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 500ms;
    
    .icon-container {
        width: 15vw;
        
        a {
            display: flex;
            text-decoration: none;
            font-family: $roboto;
            color: $logoTextColor;

            img {
                width: 64px;
                height: 64px;
            }
    
            .logo-content {
                margin: 5px;
                width: 105px;
    
                span {
                    text-transform: uppercase;
    
                    &:nth-child(1) {
                        font-size: 21px;
                        font-weight: 700;    
                    }
    
                    &:nth-child(2) {
                        font-size: 26px;
                    }
                }
            }
        }
    }

    .navigation {
        display:  flex;
        flex-direction: row;

        li {
            list-style: none;
            margin-left: 20px;
            
            a {
                text-decoration: none;
                font-size: 28px;
                font-family: $roboto;
                color: $logoTextColor;
                position: relative;

                &::after {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 3px;
                    top: 100%;
                    right: 0;
                    background: $tipUnderlineColor;
                    transition: transform 500ms;
                    transform: scaleX(0);
                    transform-origin: right;
                }

                &:hover::after {
                    transform: scaleX(1);
                    transform-origin: left;
                }
            }
        }
    }
}

main {
    // use for index.html
    &#index {
        position: relative;
        display: grid;
        height: calc(100vh - 105px);
        width: 100%;

        #bg {
            position: fixed;
            width: 1440px;

            #sun {
                visibility: hidden;
            }

            #right_far_cloud {
                animation: cloud-anime-to-left 7s alternate-reverse infinite linear;
            }

            #right_far_cloud-2 {
                animation: cloud-anime 10s alternate-reverse infinite linear;
            }
        }

        .title {
            text-align: center;
            width: 60vw;
            color: $logoTextColor;
            margin: 30vh auto;

            h1 {
                font-family: $roboto;
                font-weight: 700;
                font-size: 3em;
            }

            p {
                font-size: 1.2em;
            }
        }
    }
    // use for current.html
    &#current {
        display: flex;
        flex-direction: column;
        align-items: center;

        .search-section {
            width: clamp(380px, 420px, 480px);
            position: relative;
            margin-bottom: 20px;
            font-family: $roboto;

            input {
                width: 75%;
                border: 0;
                height: 40px;
                padding-left: 10px;
                background: $mainBgColor;
                border-bottom: $placeholderColor solid 2px;
                outline: none;
                font-size: 16px;
                resize: none;
                transition: 500ms;
            }

            input:focus + label,
            input:valid + label {
                font-size: 0.7em;
                font-weight: 700;
                color: $logoTextColor;
                top: -10px;
            }

            input:focus,
            input:valid {
                border-bottom: 2px solid $logoTextColor;
            }

            label {
                position: absolute;
                top: 10px;
                left: 10px;
                font-size: 15px;
                transition: 500ms;
                color: $placeholderColor;
            }

            button {
                height: 40px;
                width: 24%;
                font-weight: 700;
                display: inline-block;
                text-transform: uppercase;
                background: $logoTextColor;
                color: $smallScreenNavColor;
                letter-spacing: 2px;
                padding: 10px 20px;
                text-decoration: none;
                border: none;
                cursor: pointer;
            }
        }

        #current-weather {
            position: relative;
            width: clamp(380px, 420px, 480px);
            background: $logoTextColor;
            color: $currentTextColor;
            display: flex;
            place-items: center;
            flex-direction: column;
            border-radius: 5px;
            box-shadow: 0 5px 35px rgba(black, 0.3);
            overflow: hidden;
            
            .weather-content {
                padding: 30px;
                width: 100%;
                height: 100%;

                .celsius::after {
                    content: $celsius;
                }
    
                .general-info {
                    text-align: center;
                    margin-bottom: 40px;
    
                    .city {
                        font-size: 1.6em;
                        span {
                            text-transform: uppercase;
                        }
                    }
                    .date-time {
                        font-size: 0.8em;
                    }
                }
                
                .body-info {
                    display: flex;
                    position: relative;
                    width: 100%;
                    height: 48vh;
    
                    .left-portion {
                        position: absolute;
                        width: 45%;
                        left: 0;
    
                        .temperture {
                            font-size: 8em;
                            position: relative;
                            
                            span {
                                position: absolute;
                                top: 10%;
                                font-size: 0.6em;
                            }
                        }
    
                        .top-low-temp {
                            font-size: 1.5em;
                            margin-top: -10px;
                            margin-bottom: 20px;
                        }
    
                        p {
                            width: 100%;
                            font-size: 2.5em;
                        }
                    }
    
                    .right-portion {
                        position: absolute;
                        width: 45%;
                        right: 0;
                        bottom: 0;
    
                        img {
                            width: 300px;
                        }
                    }
                }
    
                .bottom-info {
                    width: 100%;
    
                    ul {
                        display: flex;
                        justify-content: space-between;
    
                        li {
                            list-style: none;
                            height: 60px;
                            text-align: center;

                            div {
                                display: flex;
                                height: 80%;
                                flex-direction: column;
                                justify-content: space-between;
                            }
                        }
                    }
                }
            }
        }
    }

    &#forecast {
        h1 {
            text-align: center;
        }
        table {
            margin: 10px auto;
            text-align: center;

            thead th {
                padding: 0 5px;
            }

            tr {                
                td:nth-child(1) {
                    padding-right: 10px;
                    font-weight: bold;
                    display: flex;
                    flex-direction: column;
                }

                td img {
                        width: 50px;
                }
            }
        }
    }
}

@keyframes cloud-anime {
    from {
        transform: translateX(0);
    }
    to {
        transform:  translateX(100px);
    }
}

@keyframes cloud-anime-to-left {
    from {
        transform: translateX(-100px);
    }
    to {
        transform:  translateX(0);
    }
}

@media (max-width: 900px) {
    header {
        padding: 10px 20px;

        .menuToggle {
            position: relative;
            width: 40px;
            height: 40px;
            color: $logoTextColor;
            text-align: center;
            cursor: pointer;

            &::before {
                font-family: $fontAwsome;
                content: $hambergerMenu;
                font-style: normal;
                font-weight: normal;
                text-decoration: inherit;
                font-size: 2em;
            }

            &.open {
                &::before {
                    content: $closeIcon;
                }
            }
        }

        .navigation {
            display: none;
            
            &.open {
                width: 100%;
                height: calc(100vh - 105px);
                position: fixed;
                top: 105px;
                left: 0;
                background: $smallScreenNavColor;
                display: flex;
                place-items: center;
                flex-direction: column;
                z-index: 10;
            }

            li {
                margin: 10px 0;
            }
        }
    }

    main {
        &#index {
            .title {    
                h1 {
                    font-size: 2em;
                }
    
                p {
                    font-size: 1em;
                }
            }
        }    
    }
}